@mixin size($width,$height:$width){
  width: $width;
  height: $height;
}
body {
  @include size(100vw, 100vh);
  background: url('https://exoplanets.nasa.gov/assets/stars6.jpg');
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
  color: #ff6;
}

.intro {
  @include size(500px, 200px);
  position: relative;
  top: 50vh;
  margin: -100px auto 0 auto;
  font-size: 200%;
  font-weight: 400;
  color: rgb(75, 213, 238);
  opacity: 0;
  animation: intro 6s ease-out 1s;
}

.logo {
  @include size(700px, 420px);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -210px 0 0 -350px;
  opacity: 0;
  animation: logo 10s linear 10s;
  svg {
    width: inherit;
    margin: 0 auto;
  }
}
