{{ if .IsTranslated }}
<div>
  <div class="cursor-pointer flex items-center nested-menu">
    <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900" title="{{ .Title }}">
      {{- i18n "global.language" | markdownify | emojify -}}
    </a>
  </div>
  <div class="absolute menuhide">
    <div class="pt-2 p-5 mt-2 rounded-xl backdrop-blur shadow-2xl">
      <div class="flex flex-col space-y-3">
        {{ range .AllTranslations }}
        <a href="{{ .RelPermalink }}" class="flex items-center">
          <p class="text-sm font-sm text-gray-500 hover:text-gray-900" title="{{ .Title }}">
            {{ .Language.Params.displayName | emojify }}
          </p>
        </a>
        {{ end }}
      <div id="google_translate_element"></div>

      </div>
    </div>
  </div>
</div>
{{ end }}

<!-- Google Translate script -->
<script type="text/javascript">
  function googleTranslateElementInit() {
      new google.translate.TranslateElement({
          pageLanguage: 'en', // Default language of your site
          includedLanguages: 'en,ko', // Languages you want to include
          layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'google_translate_element');
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
