/*
*   Style: monokailight
*   https://xyproto.github.io/splash/docs/monokailight.html
*/

$color: #d5d6d2;
$background-color: #1E2030;
$error-color: #960050;
$keyword-color: #7287FD;
$text-color: #c6d0f5;
$name-color: #a6d189;
$literal-color: #e5c890;

@import "common.scss";
